/* PHONE */
@media screen and (min-width:300px) {
    .backdrop {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: opacity var(--animation);
    }
    
    .backdrop.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    
    .no-scroll {
        overflow: hidden;
        height: 100%;
    }
    .modal__events__info {
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
    
        transform: translate(-50%, -50%) scale(1);
        min-width: 272px;
        min-height: 915px;
        border-radius: 180px 0;
        background: #FFF2FD;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modal__button__close{
        position: absolute;
        right: 25px;
        top: 25px;
    }
    
    .modal__button__close__icon{
        width: 17px;
        height: 17px;
        fill: #131313;
    }
    .modal__info-img-round {
        width: 102px;
        height: 102px;
        border-radius: 50%;
        margin-bottom: 23px;
    }
    .modal__info-img {
        display: none;
    }
    .modal__info__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    .modal__info__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    .modal__info__item__title {
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #dc56c5;
    }
    .modal__info__item__text {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #0e0e0e;
    }
    .modal__info__item__thumb {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
    }
    .modal__info__item-rect {
        width: 24px;
        height: 16px;
    }
    .modal__info__item-btn {
        width: 145px;
        height: 40px;
        border-radius: 5px;
        background: #4c00fe;
    
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        margin-bottom: 12px;
        margin-top: 4px;
    }
    .modal__info-btn {
        border: 1px solid #4c00fe;
        border-radius: 5px;
        width: 230px;
        height: 40px;
    
        font-weight: 500;
        font-size: 16px;
        color: #4c00fe;
    }
}


/* TABLET */

@media screen and (min-width:624px) {
    .modal__events__info {
        border-radius: 300px 0;
        min-width: 595px;
        min-height: 831px;
    }
    
    .modal__button__close__icon{
        transition: 0.5s;
    } .modal__button__close__icon:hover,
    .modal__button__close__icon:focus {
        transform: scale(1.1);
    }
    .modal__info-img-round {
        position: absolute;
        top: 28px;
    }
    .modal__info__thumb {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .modal__info-img {
        display: block;
        width: 233px;
        height: 416px;
        object-fit: contain;
    }
    .modal__info__list {
        align-items:flex-start;
        justify-content: start;
    }
    .modal__info__item {
        align-items:flex-start;
        justify-content: start;
    }

    .modal__info__item-btn{
        transition: 0.5s;
    } .modal__info__item-btn:hover,
    .modal__info__item-btn:focus {
        background: #2e009a;
    }

    .modal__info-btn {
        margin-top: 31px;
        margin-right: -67px;
        width: 255px;
        color: #4c00fe;
        transition: 0.5s;
    } .modal__info-btn:hover,
    .modal__info-btn:focus {
        border: 1px solid #dc56c5;
    }
}


/* DESKTOP */

@media screen and (min-width:1080px) {
    .modal__events__info {
        min-width: 942px;
        min-height: 1023px;
    }
    
    .modal__info-img-round {
        width: 132px;
        height: 132px;
    }
    .modal__info-img {
        width: 360px;
        height: 641px;
    }
    .modal__info__item__title {
        font-size: 24px;
    }

    .modal__info__item__text {
        font-size: 18px;
    }

    .modal__info-btn {
        margin-top: 0px;
        margin-right: -337px;
    } 
}
