
  main {
    background-color: #0D0D0D;
  }
  .container-cards {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 16px;

  }
  
  .card-list {
    display: grid;
    gap: 56px;
  }
  
  @media (min-width: 300px) {
    .card-list {
      grid-template-columns: 1fr;
    }
  }
  
  @media (min-width: 624px) {
    .card-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1080px) {
    .card-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .card {
    width: 180px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 50px;
  
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 0.6s ease forwards;

  }
  
  .card-img {
    width: 180px;
    height: 227px;
    object-fit: cover;
    border-radius: 16px 0 16px 0;
    display: block;
  }
  .card-title {
    text-align: center;
    margin: 12px 0 6px;
    font-size: 16px;
    font-weight: 700;
    color: #DC56C5;
  }
  
  .card-date {
    color: #fff;
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 4px;
    text-align: center;
  }
  
  .card-place {
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    opacity: 0.85;
  }
  
  .location-icon {
    width: 14px;
    height: 14px;
    fill: #000000;
  }
  
  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 60px;
  }
  
  .pagination button {
    border-radius: 16px 0 16px 0;
    min-width: 40px;
    height: 40px;
    padding: 0 12px;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
  
    font-size: 14px;
    font-weight: 500;
  
    cursor: pointer;
    transition: 
      background-color 0.3s ease,
      color 0.3s ease,
      transform 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: rgba(255, 64, 129, 0.15);
    transform: translateY(-2px);
  }
  
  .pagination button.active {
    border-color: #DC56C5;
    color: #DC56C5;
    transform: scale(1.1);
  }