
    @media screen and (min-width: 300px) {
        .container {
            width: 300px;
            margin: 0 auto;
            padding: 0 15px;
            outline: 1px solid red;
        }
    }
    @media screen and (min-width: 624px) {
        .container {
            width: 624px;
            margin: 0 auto;
            padding: 0 15px;
            outline: 1px solid red;
        }
    }
    @media screen and (min-width: 1080px) {
        .container {
            width: 1080px;
            margin: 0 auto;
            padding: 0 15px;
            outline: 1px solid red;
        }
    }
