.container {
    width: 1080px;
    padding: 0 15px;
    margin: 0 auto;
    
}

.header_list {
    list-style: none;
}

.logo_link {
    width: 400px;
    height: 400px;
    background-image: url("../img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 150px;
    background-color: rgba(96, 96, 96, 0.5);
}

.using_container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}